.env
**pycache**
ngrok*
.vscode/
*.dat
*.bak
*.dir
workflow-buddy-db.json
.idea/
.pytest_cache/
slack_app_bara_manifest.yml
workflow-buddy-data/
.coverage
misc/
htmlcov
.mypy_cache
test_output/*
.env.demo
workflow-buddy-dev/
workflow-buddy-local/
