<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Workflow Buddy</h1>
    <hr />
    <br />
    <h3>Install to your Slack Workspace!</h3>
    <p>This takes you to the local installation link, which will then take you to Slack to authenticate. Slack will return you to us :D
    </p>
    <a href="/slack/install" style="display: inline-block;border-radius: 5px;background-color: purple; padding: 8px 12px; font-weight: bold;">🔗 Install Workflow Buddy</a>
    <br />
    <h3>Endpoints</h3>
    <ul>
        <li>Health: /health</li>
        <li>Events: /slack/events</li>
        <li>Interactivity: /slack/events</li>
        <li>Webhooks: /webhook</li>
        <li>Finish Execution: /workflow/finish-execution</li>
    </ul>
</body>
</html>
